kadm5.acl
kadmind.logrotate
kadmin.service
kadmin.sysconfig
kdb_check_weak.c
kdc.conf
kerberos-adm.portreserve
kerberos-iv.portreserve
kprop.service
krb5-1.10.2-pdf.tar.xz
krb5-1.10.2.tar.gz
krb5-1.10.2.tar.gz.asc
krb5-1.10-manpaths.txt
krb5.conf
krb5kdc.logrotate
krb5kdc.service
krb5kdc.sysconfig
krb5_prop.portreserve
krb5-tex-pdf.sh
ksu.pamd
